<div class="nested-fields">
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>
  <%= f.label :description %>
  <%= f.text_field :description, class: "form-control" %>
  <%= f.button t(".remove_task"), class: "remove-btn btn btn-danger" %>
  <hr>
</div>
