<%= provide :title, t(".title") %>
<h2><%= t ".title" %></h2>
<p><%= t ".name", name: @task.name %></p>
<p><%= t ".description", description: @task.description %></p>
<%= link_to t(".back_to_subject"), [:admin, @task.subject], class: "btn btn-primary" %>
