<%= form_for(@subject) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <%= f.label :name, t(".name") %>
  <%= f.text_field :name, class: "form-control" %>
  <%= f.label :description %>
  <%= f.text_area :description, class: "form-control" %>
  <%= f.label :duration %>
  <%= f.number_field :duration, class: "form-control", min: Settings.subject_form.duration.min %>
  <hr>
  <div class="sub_task">
    <%= f.fields_for :tasks do |ff| %>
      <%= render "task_fields", f: ff %>
    <% end %>
  </div>
  <%= link_to t(".add_task"), "#", id: "sub-field", class: "btn btn-info", data: {field: sub_task_field(f)} %>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
<%= javascript_pack_tag "subject_new", "data-turbolinks-track": "reload" %>
